@import "index.css";

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.auth-card {
    margin: 150px auto 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 251, 0.8);
}

form {
    width: 30%;
    min-width: 500px;
    border: 1px solid var(--dark);
    box-shadow: 10px 10px;
    margin: 10px 0;
}

form > div {
    margin: 20px auto;
    width: 90%;
}

div > label, div > input, div > p {
    display: block;
    margin: 3px auto;
    width: 90%;
}


div > label {
    font-weight: 500;
    padding: 0 7px 0 0;
}

div > input {
    font-size: 16px;
    padding: 5px 7px;
    border: 1px solid var(--dark);
    border-radius: 5px;
}

.button1 {
    margin: auto;
}

.regis-offer {
    text-align: center;
    margin-top: 10px;
}
